.main-room
  .main-room__chat
    .main-room__chat__center
      .main-room__chat__center__chat-room
        - @messages.each do |m|
          .main-room__chat__center__chat-room__wrapper
            .main-room__chat__center__chat-room__wrapper__user-box
              -# %p.icon
              %p.name 
                = m.user.name
            .main-room__chat__center__chat-room__wrapper__text-box
              %p.date 
                = m.created_at.strftime("%Y年%m月%d日 %H時%M分")
              %p.text
                = m.content
              %p.image
                = image_tag m.image.url, size: "200x200" if m.image.present?
            -# .main-room__chat__center__chat-room__wrapper__image-box
            -#   = image_tag m.image.url, size: "200x200" if m.image.present?


                
                -# = image_tag message.image, if message.image.present?
                -# = m.image
.main-room__form
  .main-room__form__all
    = form_with model: [@group, @message] do |f|
      = f.text_area :content, class: "text"
      %label{class: "image-box"}
        = icon('fas', 'image')
        -# %input{type: "file", :class => "hidden"}
        = f.file_field :image, class: "hidden", type: "file"
        
      = f.submit "送信", class: "send-btn", id: "images"

