
.main-space
  - @groups.each do |g|
    %h1 
      = g.name
    %h2 一般
    %table
      %tr
        %td.a 言語
        %td.b 
          = g.used_language
      %tr
        %td.a 宿泊スタイル
        %td.b アパート
      %tr
        %td.a 日本食レストラン
        %td.b 
          = g.food
    %h2 条件
    %table
      %tr
        %td.c 言語
        %td.d 
          = g.language_policy
      %tr
        %td.c 学歴
        %td.d 
          = g.education
      %tr
        %td.c ビザ
        %td.d 
          = g.visa
    %h2 その他
    %table
      %tr
        %td.e よく使われるリクルートサービス
        %td.f 
          = g.servise
      %tr
        %td.e 国の特殊事情
        %td.f 
          = g.special_circumstances
  .main-space__chat-space
    - @groups.each do |g|
      .main-space__chat-space__below
        = link_to group_messages_path(g), class: "link" do
          = g.name + '本音chat欄へ行く'